**WAP in python to create a function which takes input of all datatype and return list of integers**

In [ ]:
#creating a function which takes list of all datatypes as input but only returns list of integers
def hit(a):
  """this function is used to return the list of integers"""
  b=[]
  for i in a:
    if type(i)==int:
      b.append(i)
  return b


a =[2,3.8,9]
print(hit(a))

[2, 9]

**WAP in python to create a function which takes input as dictionary and returns all the keys**

In [ ]:
#creating a function which takes input as dictionary and returns me keys of that particular dictionary
def man(a):
  b=[]
  if type(a)==dict:
    for i in a:
      b.append(a.keys())
  return b



a={"1":"2","3":'4','5':'6'}
print(man(a))

[dict_keys(['1', '3', '5']), dict_keys(['1', '3', '5']), dict_keys(['1', '3', '5'])]

**WAP in python to create a function which takes input of two list and returns extended list**

In [ ]:
#creating a function which takes input of two list and returns extended the list
def test(a,b):
  """ this is a function which is used to extend two list """
  if type(a)==list and type(b)==list:
    a.extend(b)
  return a

a=[1,2,3,4,5]
b=[6,7,8,9,10]
print(test(a,b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**WAP in python to create a function which takes a string and returns  the length of  string without using inbuilt function**

In [ ]:
def lenght_of_string(s):
  """ this fun gives you the lenght of string without using inbuilt function"""
  a=0
  for i in s:
    a+=1
  return a



s='hitansh'
print(lenght_of_string(s))

7

**WAP in python to create a funtion which returns the index of all elements which will be passed in it**

In [ ]:
#creating a function which returns the index of the input 
def index_of_data(a):
  """This function is used to check the index of the input list's all elements """
  for i in a:
    print(a.index(i))



a=[1,2,3,4]
index_of_data(a)

0
1
2
3

In [ ]:
#creating a function which will take input in dictionary and gives me the output of all values present in it
def value_dict(d):
  """This function reetuns the list of all the values present in the passed dictionary"""
  if type(d)==dict:
    return d.values()


d={'1':'2','30':'40','50':'60'}
value_dict(d)

dict_values(['2', '40', '60'])

In [ ]:
#creating a function which takes input of multiple lists and returns the concatinated list
def concatinated_list(a,b):
  """This function is used to return the concatinated list in which two lists are taken as input"""
  if type(a)==list and type(b)==list:
    a.extend(b)
    return a



list1=[1,2,3,4,5,6]
list2=[7,8,9,10,11]
concatinated_list(list1,list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#printing the current date and time 
def current_date_time():

  import datetime
  print(datetime.datetime.now())


current_date_time()

2022-06-24 09:27:11.950914

In [ ]:
#creating a function which gives your system configuration
def System_info():
  """This function gives you the information about your system"""
  import os
  print(os.uname())


System_info()

posix.uname_result(sysname='Linux', nodename='0640f3fbc4fc', release='5.4.188+', version='#1 SMP Sun Apr 24 10:03:06 PDT 2022', machine='x86_64')

In [ ]:
#creating a function which is able to shut down your system
def Shutdown_system():
  import os
  os.system("shutdown /s /t 1")

Shutdown_system()

In [ ]:
#creating a function which takes multiple inputs but returns only list
def list_return(*args):
  """this function is used to return the list from the given multiple inputs"""
  for i in args:
    if type(i)==list:
      return i



list_return(21,65,859,[1,2,3,4,5],'lwmp')

[1, 2, 3, 4, 5]

In [ ]:
#creating a function which takes someones personal information 
def personal_info(**kwargs):
  return personal_info()

In [ ]:
a=lambda **kwargs : kwargs

In [ ]:
a(age=19,time=965)

{'age': 19, 'time': 965}

In [ ]:
#creating a function which takes input of list and returns the same list by adding two in  each element of it 
def list_add(a):
  """this function is used to add tow in each element of the given list"""
  l1=[]
  for i in a :
    i=i+2
    l1.append(i)
   return l1

a=[1,2,3,4,5]
list_add(a)

[3, 4, 5, 6, 7]

In [ ]:
#creating a function which inputs a number and create a list from 1 to till then number
def list_four(a):
  """this function is used to create a list from1 to the input number if and only if that is divisible by four """
  
  l=[]
  for i in range(1,a):
    if i%4==0:
      l.append(i)
  return l


list_four(int(input("enter the number")))

enter the number10

[4, 8]

In [22]:
#creating a function which takes input of list and returns the unique elemnt from it
def unique_list(l):
  """this funtion is used to return the unique element from the given list"""
  
  for i in l:
    if l.count(i) == 1:
      print(i)

l1 = [3, 3, 3, 7, 3, 85,73]
unique_list(l1)

7
85
73

In [28]:
#creating a function which takes 3 input and check whether they are pythogores triplets or not 
def pythagores_triplet(a,b,c):
  """this fdunction is used to check whetther the given tri[[plet is pythagores triplet or not"""
  A=a**2
  B=b**2
  C=c**2
  if A+B==C or B+C==A or C+A==B :
    print("yes")
  else:
    print("no")
a=5
b=4
c=3
pythagores_triplet(a,b,c)

yes

In [33]:
#creting a function which takes input of list of strings and return the list in a sorted manner
def sorted_list(l):
  """this function is used to sort the list according to the size of element"""
   l.sort(key = len)
   return l


l=['apple','ranjit','rahul','hitansh']
sorted_list(l)

['apple', 'rahul', 'ranjit', 'hitansh']

In [38]:
#creating a function which takes three int input and returns the count of all three
def  count_ele(a,b,c):
  A=1
  B=1
  C=1
  if a==b or a==c:
    A+=1
    print(A)
  elif b==a or b==c:
    B+=1
    print(B)
  elif c==a or c==b:
    C+=1
    print(C)
  else:
    print("all are unique")

a=5
b=7
c=7
count_ele(a,b,c)

2

In [56]:
#creating a function which takes inpu of string and replaces all the vowels of that vowel with a specific vowel
def replace_vowel(k):
  """this function is used to replace the vowels in a given string to another specfic alphabet"""
  q=k
  v="aeiou"
  for i in k:
    if i in v:
     q= q.replace(i,'u')
  return q


k='hitansh'
replace_vowel(k)

'hutunsh'